<div>
    <select  ng-model="q.shape" id='options'>
    <option ng-click="q.shape == option.type"value='{{option.type}}' ng-repeat="option in options">
        {{option.name}}
    </option>
</select>
        <button ng-click='destroy()'>-</button>
<table>
    <tr ng-repeat='property in properties'>
        <td>
            {{property}}
        </td>
        <td>
            <slider target='q' type='{{property}}'></slider>

        </td>
    </tr>
</table>
<button ng-click='newShape(shape)'>Create</button>
</div>