<h2>WORLD</h2>
<div>
    Scale: {{stats.scale}}
</div>
<table>
    <tr ng-repeat='property in properties'>
        <td>
            {{property}}
        </td>
        <td>
            <slider target="context" type='{{property}}'></slider>

        </td>
    </tr>
</table>
<div>
    Focus: {{stats.focus.x | number:1}}, {{stats.focus.y | number:1}}
</div>
<div>
    Mouse: {{r.worldPosX | number:2}} , {{r.worldPosY | number:2}}
</div>

<h3>ROOM</h3>
<div>
    Width:
    <clickput>
        <display>
            {{state.room.width | number:2}}
        </display>
        <entry class='invisible'>
            <input ng-model='context.room.width' ng-focus='editContext()' ng-blur='stopEditContext()' ng-maxlength='4'>
        </entry>
    </clickput>
</div>
<div>
    Height:
    <clickput>
        <display>
            {{state.room.height | number:2}}
        </display>
        <entry class='invisible'>
            <input ng-model='context.room.height' ng-focus='editContext()' ng-blur='stopEditContext()' ng-maxlength='4'>
        </entry>
    </clickput>
</div>
<div>
    <label for="roof">Roof</label><input ng-model='context.room.roof' type='checkbox' id='roof'  checked>
</div>
<div>
    <label for="leftWall">Left Wall</label><input ng-model='context.room.leftWall' type='checkbox' id='leftWall'  checked>
</div>
<div>
    <label for="rightWall">Right Wall</label><input ng-model='context.room.rightWall' type='checkbox' id='rightWall'  checked>
</div>
<div>
    <label for="floor">Floor</label><input ng-model='context.room.floor' type='checkbox' id='floor'  checked>
</div>


<div ng-if="contextBody">
    <h3>Selected</h3>
    <table>
        <tr>
            <td>Mass:</td>
            <td>
                {{contextBody.m_mass | number:2}}
            </td>
        </tr>
        <tr>
            <td>Density:</td>
            <td>{{contextBody.m_fixtureList.m_density | number:2}}</td>
        </tr>
        <tr>
            <td>Friction:</td>
            <td>{{contextBody.m_fixtureList.m_friction | number:2}}</td>
        </tr>
        <tr>
            <td>Resitution:</td>
            <td>{{contextBody.m_fixtureList.m_restitution | number:2}}</td>
    </table>
    <clickput>
        <display>
            {{context.selectedX | number:2}} ,
        </display>
        <entry class='invisible'>
            <input ng-model='context.selectedX' ng-focus='editContext()' ng-blur='stopEditContext()' ng-maxlength='4'>
        </entry>
    </clickput>

    <clickput>
        <display>
            {{context.selectedY | number:2}}
        </display>
        <entry class='invisible'>
            <input ng-model='contextPos.selectedY' ng-focus='editContext()' ng-blur='stopEditContext()' ng-maxlength='4'>
        </entry>
    </clickput>
    <p>
        <clickput>
            Angle:
            <display>
                {{context.selectedAngle | number:2}}
            </display>
            <entry class='invisible'>
                <input ng-model='context.selectedAngle' ng-focus='editContext()' ng-blur='stopEditContext()' ng-maxlength='4'>
            </entry>
        </clickput>
    </p>

    <pre>
[F] Freeze / Unfreeze
[P] Add Pin
[U] Remove Pins
[G] Follow
[del] Delete
</pre>

    <h3>User Data</h3>
    <div ng-repeat="(key,data) in contextBody.m_userData">
        {{key}} :: {{data}}
        <button ng-click='removeUserData(contextBody,key)'>X</button>
    </div>
    <div class='addContext'>
        Add Context Data
        <input ng-model='userDataKey' placeholder='key'>
        <input ng-model='userDataValue' placeholder='value'>
        <button ng-click='addUserData(contextBody, userDataKey,userDataValue)'>Go!</button>
    </div>

</div>

<h3>File</h3>
<h4>Save</h4>
<div class='save'>
    <button ng-click='save(worldName)'>SAVE</button>
    <input placeholder="My World" ng-model='worldName'>
</div>
<h4>Projects</h4>
<div>
    <select ng-model="selectedWorld" ng-options="world.name for world in savedWorlds">
        <option>Select a World</option>
    </select>
</div>
<div>
    <button ng-click='load(selectedWorld)'>LOAD</button>
    <button ng-click='deleteSavedWorld(selectedWorld)'>DELETE</button>
    <button ng-click='exportSavedWorld(selectedWorld)'>EXPORT</button>
</div>
<div ng-if="worldExport != null">
    <textarea ng-model='worldExport' id='export'>
    </textarea>
</div>
</div>
</div>
<div>
<h2>Draw</h2>
<div>
    <label for="drawDebug">Draw Debug</label><input ng-model='context.drawDebug' type='checkbox' id='drawDebug' ng-change='updateDraw()'>
</div>
<div>
    <label for="drawSprites">Sprites</label><input ng-model='context.drawSprites' type='checkbox' id='drawSprites' ng-change='updateDraw()'>
</div>
</div>
