.blinder, .logo-text, .logo-star, .logo-controls, .logo-legal, .logo-start {
	display: block;
	width: 750px;
	height: 500px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
		z-index: 8;
	background-image: url('../img/splash-bg.jpg');
	pointer-events: none;
}

.logo-text {
	
	z-index: 10;
	background-image: url('../img/splash-text.png');
	background-size: contain;
	
}

.logo-star {
	
	z-index: 9;
	background-image: url('../img/splash-star.png');
	background-size: contain;
	
}

.logo-legal {
	
	z-index: 9;
	background-image: url('../img/splash-legal.png');
	background-size: contain;
	
}

.start-hit {
	position: absolute;
	width: 180px;
	height: 60px;
	/* background-color: pink; */
	z-index: 15;
	right: 80;
	bottom: 60;
	cursor: pointer;
	
}

.logo-start {
	
	z-index: 9;
	background-image: url('../img/button-start.png');
	background-size: contain;
	
}


.start-hit:hover +div {
	background-image: url('../img/button-start-hover.png');
}

.logo-controls {
	
	z-index: 9;
	background-image: url('../img/splash-controls.png');
	background-size: contain;
	
}

html {
	font-family: Helvetica;
	color: #111;
}

.splash-screen {
	z-index: 8;
	position: absolute;
	top: 0;
	right:0;
	left: 0;
	right: 0;
	margin: auto;
	width: 750px;
	height: 500px;
	overflow: hidden;
}
.main-menu {
	position: absolute;
	/* top: 0; */
	/* left: 0; */	
	right: 15px;
	bottom: 63px;
	margin: auto;
	width: 300px;
	/* height: 200px; */
	color: white;
	/* font-family: arial; */
	text-align: center;
	z-index: 9;

}

.main {
	position: relative;
	width: 750px;
}


.hud {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	pointer-events: none;
	z-index: 1;
}

.lives {
	position: absolute;
	right: 20px;
	width: 200px;
	top: 15px;
}
.life-counter {
	width: 20px;
	height: 20px;
	margin: 5px;
	float: right;
	background-image: url('../img/hero.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.levelName {
	position: absolute;
	top: 20px;
	left: 25px;
	z-index: 1;
}