#debugcanvas {
	position: absolute;
	top: 0;
	opacity: 1;
	pointer-events: none;

	background-color: rgba(100, 100, 100, 0.1);
	left: 0;
}

canvas {
	position: absolute;
	top: 0;
	opacity: 1;
	left: 0;
	width: 750px;  -webkit-user-select: none;  -khtml-user-select: none;  -moz-user-select: none;  -ms-user-select: none;  user-select: none;
	webkit-user-select: none;
	height: 506.25;
}


.untouchable {
	pointer-events: none;
}

clickput input {
	width: 50px;
	padding: 3px;	
	font-size: 15px;
	border-radius: 3px;
}

.blocker {
	width: 750px;
	height: 500px;
	background-color: transparent;
	overflow:hidden;
	position: absolute;
	top:0;
	left:0;
	pointer-events: none;
	z-index: 2;
}

.main {
	position: relative;
	margin: 20px;
}

.blocker-inner {
	width: 1250px;
	height: 500px;
	margin-left: -1250px;
	background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 15%,rgba(0,0,0,1) 19%,rgba(0,0,0,1) 20%,rgba(0,0,0,1) 50%,rgba(0,0,0,1) 80%,rgba(0,0,0,1) 81%,rgba(0,0,0,0.8) 85%,rgba(0,0,0,0) 100%); /* W3C */
	transition: all 0s;
}

.blocker-inner.slide {

	margin-left: 1250px;
	transition: all 2s;
	
}

.invisible {
	display: none !important;
}
