#debugCanvas {
	position: absolute;
	top: 0;
	opacity: 0.5;
	pointer-events: none;

}

.untouchable {
	pointer-events: none;
}

.blocker {
	width: 750px;
	height: 500px;
	background-color: transparent;
	overflow:hidden;
	position: absolute;
	top:0;
	left:0;
	pointer-events: `;
	z-index: 2;
}

.blocker-inner {
	width: 1250px;
	height: 500px;
	margin-left: -1250px;
	background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 15%,rgba(0,0,0,1) 19%,rgba(0,0,0,1) 20%,rgba(0,0,0,1) 50%,rgba(0,0,0,1) 80%,rgba(0,0,0,1) 81%,rgba(0,0,0,0.8) 85%,rgba(0,0,0,0) 100%); /* W3C */
	transition: all 0s;
}

.blocker-inner.slide {

	margin-left: 1250px;
	transition: all 2s;
	
}

.invisible {
	display: none !important;
}
