shapemaker div {
	border: 2px solid black;
	display: inline-block;
}



html * {

}

canvas {
	cursor: pointer;
}

shapemaker div {
	opacity: 1;
	border: 1px solid #323;
	padding: 1em;
	font-size: 11px;
	border-radius: 0.3em;
	background-color: #fffeff;
	font-family: Arial;
		-webkit-animation: fadeIn 0.2s ease-in;
}

worldcontroller {
	position: absolute;
	right: 25;
	top: 50px;
}

.main {
	width: 750px;
	height: 630px;
	overflow: hidden;
}

[contextzmenu] {
	position: absolute;
	border: 1px solid #323;
	padding: 1em;
	font-size: 11px;
	border-radius: 0.3em;
	background-color: #fef;
	font-family: Arial;
		-webkit-animation: fadeIn 0.2s ease-in;
}

[contextzmenu] ul {
	list-style: none;
	padding-left: 10px;
	padding-right: 10px;
}

[contextzmenu] li {
	margin-left: 0px;
}