shapemaker div {
	border: 2px solid black;
	display: inline-block;
}



html * {

}

canvas {
	cursor: pointer;
}

shapemaker div {
	opacity: 1;
	-webkit-animation: fadeIn 0.4s ease-in;
	animation-iteration-count: 1;
	border-radius: 10px;
	padding: 10px;
	border-color: gray;
	/* height: 500px; */
}

worldcontroller {
	position: absolute;
	right: 25;
	top: 50px;
}

.main {
	width: 750px;
	height: 630px;
	overflow: hidden;
}

.custom-menu {
	position: absolute;
}