<doctype HTML>

<html ng-app='demoApp' ng-controller='myDemoCtrl'>
<head>
    <title>Racing Car in Box2d</title>
     
    <script src="lib/angular.js"></script>
    <script src="lib/jquery.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/Box2dWeb-2.1.a.3.js"></script>
    <script src="js/Rectangular.js"></script>
    <script type="text/javascript" src="lib/easel.js"></script>

    <script>
    	var b2Vec2 = Box2D.Common.Math.b2Vec2
    	    ,   b2AABB = Box2D.Collision.b2AABB
    	    ,   b2BodyDef = Box2D.Dynamics.b2BodyDef
    	    ,   b2Body = Box2D.Dynamics.b2Body
    	    ,   b2FixtureDef = Box2D.Dynamics.b2FixtureDef
    	    ,   b2Fixture = Box2D.Dynamics.b2Fixture
    	    ,   b2World = Box2D.Dynamics.b2World
    	    ,   b2PolygonShape = Box2D.Collision.Shapes.b2PolygonShape
    	    ,   b2CircleShape = Box2D.Collision.Shapes.b2CircleShape
    	    ,   b2DebugDraw = Box2D.Dynamics.b2DebugDraw
    	    ,   b2MouseJointDef =  Box2D.Dynamics.Joints.b2MouseJointDef
    	    ,   b2Shape = Box2D.Collision.Shapes.b2Shape
    	    ,   b2RevoluteJointDef = Box2D.Dynamics.Joints.b2RevoluteJointDef
    	    ,   b2Joint = Box2D.Dynamics.Joints.b2Joint
    	    ,   b2PrismaticJointDef = Box2D.Dynamics.Joints.b2PrismaticJointDef
    	    ;
    </script>

</head>
<body >
 
<h2>RectAngular.js</h2>

CAN HAZ ANGULOR + BUX2d?
<a href='cardemo.html'>CARDEMO</a>

<div class='main' >
 <canvas ng-stage id='canvas' width='500' height='400' style="background-color:#333;"></canvas>
 <canvas ng-stage id='debugCanvas' debug=true width='500' height='400' style="background-color:#333;"></canvas>

 <ng-box></ng-box>
 <ng-circle
    x='0'
    radius='1'
 ></ng-circle>
</div>
<button ng-click='createBox()'>BOX</button>
<button ng-click='createCircle()'>CIRCLO</button>
</body>
 
</html>

<!-- ZOR -->
<script>
angular.module("demoApp",['Rectangular'])

.controller('myDemoCtrl',function($scope,$element,ngWorld, ngBox, ngrDebug, ngrLoop, $compile){

    // only boilerplate
    var world = ngWorld.setWorld(0,26,true);

    // create world


    var floor = ngBox.shape('box',{
        position:'static',
        width: 500,
        height: 0.2,
        y: 10,
        angle:0.01
        
    });
    ngWorld.addElement(floor);


    // debug;
    var elem = document.getElementById('debugCanvas');
    var ctx = $(elem).get(0).getContext('2d');
    ngrDebug.debug(ctx);

    ngrLoop.initWorld(ctx,world, 60);

    $scope.createBox = function(){
       var box = angular.element(document.createElement('ng-box'));
       var el = $compile( box )( $scope );
       angular.element(document.body).append(box);
    }

    $scope.createCircle = function(){
        
        var circle = angular.element(document.createElement('ng-circle'));
        var el = $compile( circle )( $scope );
        angular.element(document.body).append(circle);
    }


    

});



</script>