<doctype HTML>

    <html ng-app='BallAgentApp' ng-controller='myDemoCtrl'>

    <head>
        <title>BallAgent: Do You Have The Balls?</title>

        <script src="lib/angular.js"></script>
        <script src="lib/jquery.js"></script>
        <script src="lib/underscore.js"></script>
        <script src="lib/mousetrap.js"></script>
        <script src="lib/Box2dWeb-2.1.a.3.js"></script>
        <script src="js/util.js"></script>
        <script src="js/Rectangular.js"></script>
        <script src="BallAgent/BallAgent.js"></script>
        <script src="BallAgent/BallAgentLevels.js"></script>
        <script src="BallAgent/BallAgentHero.js"></script>
        <script src="BallAgent/BallAgentModels.js"></script>
        <script src="js/ngrStage.js"></script>
        <script src="js/ngrState.js"></script>
        <script src="js/ngrWorld.js"></script>
        <script src="js/ngrDisplay.js"></script>
        <script src="js/ngrLoop.js"></script>
        <script src="js/ngrEnvironment.js"></script>
        <script src="js/ngrModels.js"></script>
        <script src="js/ngrBox.js"></script>
        <script src="lib/angular.audio.js"></script>
        <script type="text/javascript" src="lib/easel.js"></script>
        <script type="text/javascript" src="lib/create.js"></script>

        <script>
        var b2Vec2 = Box2D.Common.Math.b2Vec2,
            b2AABB = Box2D.Collision.b2AABB,
            b2BodyDef = Box2D.Dynamics.b2BodyDef,
            b2Body = Box2D.Dynamics.b2Body,
            b2FixtureDef = Box2D.Dynamics.b2FixtureDef,
            b2Fixture = Box2D.Dynamics.b2Fixture,
            b2World = Box2D.Dynamics.b2World,
            b2PolygonShape = Box2D.Collision.Shapes.b2PolygonShape,
            b2CircleShape = Box2D.Collision.Shapes.b2CircleShape,
            b2DebugDraw = Box2D.Dynamics.b2DebugDraw,
            b2MouseJointDef = Box2D.Dynamics.Joints.b2MouseJointDef,
            b2Shape = Box2D.Collision.Shapes.b2Shape,
            b2RevoluteJointDef = Box2D.Dynamics.Joints.b2RevoluteJointDef,
            b2Joint = Box2D.Dynamics.Joints.b2Joint,
            b2PrismaticJointDef = Box2D.Dynamics.Joints.b2PrismaticJointDef;
        </script>

        <link rel="stylesheet" type="text/css" href="styles/ballAgent.css">
        <link rel="stylesheet" type="text/css" href="styles/ngr.css">
        <link rel="stylesheet" type="text/css" href="styles/animate.css">

    </head>

    <body>


        <div class='main'>
            <canvas ng-stage id='gameCanvas' width='650' height='450'></canvas>
        </div>
        <button ng-click='addBox()'>- BOX -</button>
        <table>
            <tr>
                <td>
                    HEIGHT
                </td>
                <td>
                    <input ng-model='boxHeight' type='range' min='0.2' max='10'>
                </td>
            </tr>
            <tr>
                <td>
                    WIDTH
                </td>
                <td>
                    <input ng-model='boxWidth' type='range' min='0.2' max='10'>
                </td>
            </tr>
            <tr>
                <td>
                    RESTITUTION
                </td>
                <td>
                    <input ng-model='boxRestitution'  type='range' min='0' step='0.1' max='1'>
                </td>
            </tr>
            <tr>
                <td>
                    DENSITY
                </td>
                <td>
                    <input ng-model='boxDensity'  type='range' min='0' max='10'>
                </td>
            </tr>
        </table>
    </body>

    </html>

    <!-- ZOR -->
    <script>
    angular.module("BallAgentApp", ['ngAudio', 'Rectangular'])
        .controller('myDemoCtrl', function($scope, $element, ngrEnvironment, ngAudio) {

            ngrEnvironment.init({
                scale: 'auto',
                worldHeight: 30
            });

            $scope.boxHeight = 1;
            $scope.boxWidth = 1;
            $scope.boxRestitution = 0.3;
            $scope.boxDensity = 0.5;
           
            $scope.addBox = function() { 
                ngrEnvironment.add('box',{
                    x:Math.random()*40,
                    height:$scope.boxHeight / 2,
                    width:$scope.boxWidth / 2,
                    restitution:$scope.boxRestitution,
                    density:$scope.boxDensity,
                });
            }

        });
    </script>
