<doctype HTML>

    <html ng-app='shapemaker' ng-controller='myDemoCtrl'>

    <head>
        <title>Shapemaker: Enjoy Shapes</title>

        <script src="js/lib/angular.js"></script>
        <script src="js/lib/jquery.js"></script>
        <script src="js/lib/underscore.js"></script>
        <script src="js/lib/mousetrap.js"></script>
        <script src="js/lib/Box2dWeb-2.1.a.3.js"></script>
        <script src="js/util.js"></script>

        <script src="js/lib/Rectangular/Rectangular.js"></script>
        <script src="js/lib/Rectangular/ngrStage.js"></script>
        <script src="js/lib/Rectangular/ngrState.js"></script>
        <script src="js/lib/Rectangular/ngrWorld.js"></script>
        <script src="js/lib/Rectangular/ngrRoom.js"></script>
        <script src="js/lib/Rectangular/ngrSkin.js"></script>
        <script src="js/lib/Rectangular/ngrLoop.js"></script>
        <script src="js/lib/Rectangular/ngrActor.js"></script>
        <script src="js/lib/Rectangular/ngrGame.js"></script>
        <script src="js/lib/Rectangular/ngrCamera.js"></script>
        <script src="js/lib/Rectangular/ngrDefaults.js"></script>
        <script src="js/lib/Rectangular/ngrData.js"></script>
        <script src="js/lib/Rectangular/ngrEnvironment.js"></script>
        <script src="js/lib/Rectangular/ngrModels.js"></script>
        <script src="js/lib/Rectangular/ngrBody.js"></script>
        <script src="js/lib/Rectangular/ngrDebug.js"></script>
        <script src="js/lib/Rectangular/ngrInterface.js"></script>
        <script src="js/lib/Rectangular/ngrBox.js"></script>

        <script src="js/lib/angular.audio.js"></script>
        <script type="text/javascript" src="js/lib/easel.js"></script>
        <script type="text/javascript" src="js/lib/create.js"></script>
    
    <script src="confusionQuest/ConfusionQuest.js"></script>

    <script src="confusionQuest/profiles/Calvin/Calvin.js"></script>
    <script src="confusionQuest/profiles/confCoin.js"></script>
    <script src="confusionQuest/profiles/helmet1.js"></script>
    <script src="confusionQuest/profiles/ruby.js"></script>
    <script src="confusionQuest/profiles/keyRed.js"></script>
    <script src="confusionQuest/profiles/doorRed.js"></script>
    <script src="confusionQuest/profiles/boots1.js"></script>
    <script src="confusionQuest/profiles/Mahakana.js"></script>
    <script src="confusionQuest/profiles/Madness.js"></script>
    <script src="confusionQuest/profiles/spikes.js"></script>

    <script src="confusionQuest/ConfusionQuestDefaults.js"></script>
    <script src="confusionQuest/ConfusionQuestHud.js"></script>
    <script src="confusionQuest/ConfusionQuestLevels.js"></script>

    <script src="confusionQuest/levels/devLevel.js"></script>


    <!-- ZOR -->
    <script src='shapemaker/shapemaker.js'></script>
    <script src="shapemaker/shapemakerDefaults.js"></script>
    <script src='shapemaker/clickput.directive.js'></script>
    <script src="shapemaker/shapecreator.directive.js"></script>
    <script src="shapemaker/contextmenu.directive.js"></script>
    <script src="shapemaker/slider.directive.js"></script>
    <script src="shapemaker/worldcontroller.directive.js"></script>

        <link rel="stylesheet" type="text/css" href="styles/shapemaker.css">
        <link rel="stylesheet" type="text/css" href="styles/ngr.css">
        <link rel="stylesheet" type="text/css" href="styles/animate.css">

        <link href='http://fonts.googleapis.com/css?family=Playfair+Display+SC:400,400italic,700' rel='stylesheet' type='text/css'>


    </head>

    <body>


        <div class='main' contextmenu='shapemakercontext'>
            <canvas ng-stage id='gameCanvas' width='750' height='500'></canvas>
        </div>
        <worldcontroller></worldcontroller>
        <creationPanel>
        <makers>
            <shapemaker shape='box'></shapemaker>
        </makers>
  <button ng-click='clearAll()'>Clear</button>
        <button ng-click='startGame()'>START GAME</button>
        </creationPanel>
    </body>

    </html>

