<doctype HTML>

    <html ng-app='manWho' ng-controller='manWho'>

    <head>
        <title>The Man Who Didn't Give a F*ck</title>

        <script src="lib/angular.js"></script>
        <script src="lib/jquery.js"></script>
        <script src="lib/underscore.js"></script>
        <script src="lib/mousetrap.js"></script>
        <!--<script src="lib/Box2dWeb-2.1.a.3.js"></script>-->
        <script src="lib/Box2d.js"></script>
        <script src="js/util.js"></script>
        <script src="js/Rectangular.js"></script>
        <script src="js/ngrStage.js"></script>
        <script src="js/ngrState.js"></script>
        <script src="js/ngrWorld.js"></script>
        <script src="js/ngrDisplay.js"></script>
        <script src="js/ngrLoop.js"></script>
        <script src="js/ngrEnvironment.js"></script>
        <script src="js/ngrModels.js"></script>
        <script src="js/ngrDebug.js"></script>
        <script src="js/ngrDefaults.js"></script>
        <script src="js/ngrInterface.js"></script>
        <script src="js/ngrBox.js"></script>
        <script src="manWho/manWho.js"></script>
        <script src="manWho/manWhoLevels.js"></script>
        <script src="lib/angular.audio.js"></script>
        <script type="text/javascript" src="lib/easel.js"></script>
        <script type="text/javascript" src="lib/create.js"></script>
        <link rel="stylesheet" type="text/css" href="styles/ngr.css">
        <style>
          #gameCanvas {
            margin: 10px;
          }

          .controls {
            top: 500px;
            position: absolute;
          }
        </style>
    </head>

    <body>


        <div class='main'>
            <canvas ng-stage id='gameCanvas' width='800' height='450'></canvas>
            <div class='controls'>
            <button ng-click="gotoLevel(1)">LVL 1</button>
            <button ng-click="gotoLevel(2)">LVL 2</button>
            </div>
        </div>

    </body>

    </html>

    <!-- ZOR -->
    <script>
    angular.module('manWho')
        .controller('manWho', function($scope, $element, manWho) {

            $scope.gotoLevel = function(_lvl) {
                manWho.gotoLevel(_lvl);
            }

        });
    </script>
